.content-section{
    width: 50%;
    margin: 0 0 0 25%;
    padding: 10px;
    box-sizing: border-box;
    .top-image-rotate,
    .match-with-apparal-wrapper{
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        flex: 1;
        height: 45vh;
        box-sizing: border-box;
        img{
            width: 320px;
            margin: auto;
            &.small{
                width: 160px;
            }
            &.medium{
                width: 240px;
            }
            &.large{
                width: 320px;
            }
        }
    }
    //apparal
    .match-with-apparal-wrapper{
        height: 49vh;
        img{
            width:270px;
        }
    }
}