.right-functionality-panel{
    padding: 0 15px;
    width: 25%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    height: 100vh;
    background: #ddd;
    .color-change-wrapper,
    .size-change-wrapper,
    .logo-upload-wrapper,
    .apparal-select-wrapper{
        margin: 0 0 15px;
        display: block;
        h3{
            font-size: 15px;
            margin: 0;
        }
        select{
            display: block;
            width: 100%;
            height: 40px;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 0 0 0 10px;
            box-sizing: border-box;
        }
        
        .draggable-logo-upload{
            width: 100%;
            height: 95px;
            border:2px dashed #ccc;
            text-align: center;
            background: #eee;
            border-radius: 8px;
            i{
                display: block;
                margin: 20px 0 0;
                font-size: 25px;
                color: #1e4c8c;
            }
            span{
                color: #434343;
                font-size: 15px;
                font-family: $titleFont;
            }
        }
        .radio-wrapper{
            margin: 10px 0 20px;
            .sizes{
                margin: 0 15px 0 0;
                input{
                    width: 16px;
                    height: 16px;
                    margin: 3px 5px 0 0;
                }
                span{
                    font-size: 15px;
                    color: #434343;
                }
            }
        }
        .img-set-wrapper{
            margin: 10px 0 0;
            .img-wrapper{
                width: 150px;
                background: #fff;
                display: flex;
                height: 150px;
                margin: 0 8px 8px 0;
                box-shadow: 0 0 5px #000;
                img{
                    margin: auto;
                    max-width: 38%;
                    align-self: center;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.8;
                    }
                }
                &.active{
                    background: #eee;
                    box-shadow: 0 0 5px #444;
                    img{
                        opacity: 0.8;
                        cursor: default;
                    }
                }
            }
        }
    }
}